# Ambiente virtuale Python
venv/
.env
__pycache__/
*.pyc
.DS_Store
*.db
*.sqlite3
*.log
*.tmp

# File troppo grandi/eseguibili da NON caricare su GitHub
unione_moduli.py
backend/ffmpeg-*/bin/ffmpeg.exe
backend/ffmpeg-*/bin/ffplay.exe
backend/ffmpeg-*/bin/ffprobe.exe
data/Catalogo Nuova SKin.pdf
data/Catalogo Peccati Olfattivi.pdf

# Escludi tutti gli .exe (se vuoi)
*.exe

# Escludi tutti i PDF sopra una certa dimensione (solo se necessario)
# *.pdf
unione_moduli.py
backend/ffmpeg-2025-06-28-git-cfd1f81e7d-full_build/bin/ffplay.exe
backend/ffmpeg-2025-06-28-git-cfd1f81e7d-full_build/bin/ffmpeg.exe
backend/ffmpeg-2025-06-28-git-cfd1f81e7d-full_build/bin/ffprobe.exe
data/Catalogo Nuova SKin.pdf
data/Catalogo Peccati Olfattivi.pdf
